body {
    font-family: 'Poppins';
}

/* Navbar container */
.container a {
    color: #707070;
    font-weight: bold;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel-item {
     padding: 20px 40px; 
}

.carousel-item h3{
    font-weight: bold;
    padding-bottom: 20px;
}

.carousel-item p{
    color: #707070;
    padding-bottom: 20px;
}

.button {
    background-color: #1F1F1F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.carousel-indicators li {
    background-color: #FF9C35;
    height: 5px;
    border-radius: 10px;
}

/* Smartphone and laptop card styling */
.heading {
    padding-bottom: 40px;
}

.heading h4, h5 {
    font-weight: bolder;
}

.highlight {
    color: #FF9D00;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 10px 5px lightgrey;
}

.card-footer {
    background-color: #fff;
    border-top: none;
}

.card h4, h5, p{
    text-align: center;
}

.card-footer {
    text-align: center;
}

/* Categories styling */
.cathead {
    font-weight: bolder;
    text-align: center;
    padding-bottom: 40px;
}

